TEMPMAIL_DOMAINS=example.com
TEMPMAIL_HTTP_ADDR=127.0.0.1:3005
TEMPMAIL_BASE_PATH=/mail
TEMPMAIL_SUBMIT_ADDR=127.0.0.1:587
TEMPMAIL_MADDY_BIN=/usr/local/bin/maddy
TEMPMAIL_ADMIN_USER=admin
TEMPMAIL_ADMIN_PASS_HASH=PASTE_BCRYPT_HASH_HERE
TEMPMAIL_PROTECTED_LOCALPARTS=postmaster,abuse,hostmaster,webmaster
TEMPMAIL_INBOX_TTL=20m
